body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

h1 {
  line-height: 1.5em;
  font-size: 40px;
  letter-spacing: -.2px;
  color: white;
  margin: 0;

}

h1 strong {
  color: #026fff;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: sticky;
  top: 0;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  color:white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#work {
  border: 1px solid white;
  height: 50px;
  padding: 5px;
  margin-top: 5px;
}

figure {
  margin: 0;
}

.hero {
  height: 300px;
  background-color: #1b2127;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.hero-image {
  object-fit: cover;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-details {
  width: 50%;
}

.project strong {
  font-family: "Source Sans Pro", sans-serif;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-course, .project-date, .project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project-imageContainer {
  width: 50%;
}

.project-imageContainer img {
  max-width: 100%;
}

.event-list-title {
  margin-left: 20px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event {
  margin: 1%;
  width: 48%;
  border-radius: 10px;
  flex-shrink: 0;
  overflow: hidden;
  background: #f4fbff;
}

.event-detail {
  margin: 20px 40px;
  background-color: white;
  margin-top: -40px;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  border: 1px solid #056fff;
  padding: 5px 20px;
  text-decoration: none;
  color: #056fff;
  border-radius: 5px;
}


.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-email h3 {
  font-family: "Source Sans Pro", sans-serif;
}

.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding:10px 20px 10px 25px;
  background-image: url("../images/envelope.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  width: 100px;
  margin: 10px;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-color: white;
  border-radius: 5px;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size:50px 50px;
  margin: 0 10px;
}

.social-link.twitter {
  background-image: url("../images/twitter.svg");
}

.social-link.facebook {
  background-image: url("../images/facebook.svg");
}

.social-link.github {
  background-image: url("../images/github.svg");
}

.social-link.instagram {
  background-image: url("../images/instagram.svg");
}

.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
  margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
  .contact, .footer {
    padding: 0 1em;
  }

  .header {
    z-index: 3;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    display: block;
    height: auto;
  }

  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 1em;
    box-sizing: content-box;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5)
  }

  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: -60px;
    bottom: 0;
    width: 100%;

  }

  #work {
    border: 1px solid white;
    height: 40px;
    padding: 0;
    margin: 0 190px;
    text-align: center;
  }

  .header .logo {
    text-align: center;
  }

  .header ol {
    display: block;
  }

  .header ol li {
    height: 50px;
  }

  .header a {
    justify-content: center;
  }

  .project {
    display: block;
  }

  .project-course, .project-date, .project-url {
    margin: 0.4em 0;
  }

  .project-imageContainer {
    width: auto;
    text-align: center;
  }

  .project-details {
    width: auto;
    font-size: 16px;
  }

  .project-title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }

  .project-url {
    font-size: 1em;
  }

  .project-course {
    font-size: 0.7em;
  }

  .projecto-date {
    font-size: 1em;
  }

  .project-description{
    font-size: 0.8em;
  }

  .event {
    width: auto;
    flex-shrink: initial;
  }

  .event img {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .project-details {
    width: auto;
    font-size: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  #work {
    border: 1px solid white;
    height: 40px;
    padding: 0;
    margin: 0 150px;
    text-align: center;
  }

  .event-detail {
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contact {
    padding: .5em;
    margin: 0 .5em;
    height: auto;
    display: inherit;
    text-align: center;
  }

  .form-email button {
    margin: 1em auto;
  }

  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
    margin: 0 .5em;
    padding: .45em;
  }
}

@media only screen and (max-width: 320px) {
  header {
    width: 450px;
    padding: 20px;
  }

  h1 {
    font-size: 2em;
    ;
  }

  .hero {
    width: 450px;
    padding: 1.5em;
  }

  #work {
    border: 1px solid white;
    height: 40px;
    padding: 0;
    margin: 0 50px;
    text-align: center;
  }

  .portfolio {
    width: 450px;
  }

  #experiencia {
    width: 450px;
    padding: 20px;
  }

  .contact, .footer {
    width: 450px;
  }
}
